Django
psycopg2
# markdown==3.1.1
Pillow
# django-admin-list-filter-dropdown==1.0.3
# celery==4.4.0
# redis==3.3.11
# django-celery-results==1.1.2
# django-summernote==0.8.11.6
# admin-totals

# Deploying tools
python_dotenv
gunicorn

# Debuging tools
# django_silk==4.0.0               # https://github.com/jazzband/django-silk
# sentry-sdk                       # https://docs.sentry.io/platforms/python/
