{% extends 'base.html' %}
{% load static %}

{% block global_meta %}
	<title>Ітел-Сервіс | Головна</title>
{% endblock %}

{% block content %}

    <section class="section section-xl bg-image bg-default bg-image-custom bg-image-custom-1 position-relative">
      <div class="container">
        <div class="row justify-content-center justify-content-lg-start">
          <div class="col-lg-4 col-xl-5 position-relative">
            <div class="carousel-child-wrap">
              <div class="slick-slider carousel-child" id="child-carousel" data-for=".carousel-parent" data-swipe="true" data-items="1">
                <div class="item-wrap">
                  <div class="item"><img src="{% static 'images/horyn10.png' %}" alt="" width="945" height="756"/>
                  </div>
                </div>
                <div class="item-wrap">
                  <div class="item"><img src="{% static 'images/horyn10B.png' %}" alt="" width="1185" height="948"/>
                  </div>
                </div>
                {% comment %} <div class="item-wrap">
                  <div class="item"><img src="{% static 'images/blur-home-03-845x429.png' %}" alt="" width="845" height="429"/>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-6 custom-col-lg">
            <div class="slick-slider carousel-parent" data-dots="true" data-swipe="false" data-items="1" data-child="#child-carousel" data-for="#child-carousel">
              <div class="item-wrap">
                <div class="item">
                  <h2>Горинь 10</h2>
                  <p>БПЛА Горинь 10 - це потужний іноваційний дрон призначений для перенесення вантажу вагою до 3.2кг. Оснащений основним та дублюючим зв'язком для керування в різних діапазонах частот з технологією динамічної зміни каналу зв'язку для відео та керування.<br> Присвоєний номенклатурний номер НАТО.</p>
                  <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#contacts"><span class="icon material-icons-chevron_right"></span>Замовити</a><a class="button button-icon button-icon-right button-default-outline" href="#datasheet"><span class="icon material-icons-chevron_right"></span>Деталі</a></div>
                </div>
              </div>
              <div class="item-wrap">
                <div class="item">
                  <h2>Горинь 10B</h2>
                  <p>БПЛА Горинь 10B - це потужний іноваційний дрон призначений для перенесення вантажу вагою до 3.2кг та оснащений системою скиду і поворотним механізмом камери. Наявний основний та дублюючий зв'язок для керування в різних діапазонах частот з технологією динамічної зміни каналу зв'язку для відео та керування.</p>
                  <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#contacts"><span class="icon material-icons-chevron_right"></span>Замовити</a><a class="button button-icon button-icon-right button-default-outline" href="#datasheet"><span class="icon material-icons-chevron_right"></span>Деталі</a></div>
                </div>
              </div>
              {% comment %} <div class="item-wrap">
                <div class="item">
                  <h2>Nox Magic 5 Elite</h2>
                  <p>The Magic 5 contains all of the tried-and-true features you’d expect to find in a modern drone, like GPS navigation, auto take-offs, and auto landings, intelligent high power flight battery, a built-in database of no-fly zones etc.</p>
                  <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#"><span class="icon material-icons-chevron_right"></span>Замовити</a><a class="button button-icon button-icon-right button-default-outline" href="#"><span class="icon material-icons-chevron_right"></span>Деталі</a></div>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section section-lg text-center" id="features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2>Наші переваги</h2>
          <p>Наш пріоритет - робити якіскі дрони з насучаснішими технічними рішеннями. Ми тісно співпрацюємо з споживачами щоб розуміти потреби та впроваджувати іновації.</p>
        </div>
      </div>
      <div class="row justify-content-center row-45">
        <div class="col-sm-6 col-md-4">
          <div class="feature">
            <figure class="feature-figure"><img class="feature-images" src="{% static 'images/antenna.png' %}" alt="" width="70" height="70"/>
            </figure>
            <h6 class="feature-title">Надійний кастомізований зв'язок</h6>
            <p class="feature-description">Ми постійно працюємо над тестуванням та впровадженням нових засобів зв'язку. Наразі пропонуємо рішення в діапазонах 150 - 190 МГц, 375 - 520 МГц, 700 - 1000 МГц, 2150 - 2600 МГц.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="feature">
            <figure class="feature-figure"><img class="feature-images" src="{% static 'images/battery.png' %}" alt="" width="70" height="70"/>
            </figure>
            <h6 class="feature-title">Збільшена тривалість польоту</h6>
            <p class="feature-description">Ми виготовляємо акумуляторні батареї в нових сучасних елементів з найкращими характеристиками. Це дозволяє збільшити час польоту та вантажепідйомність дрону.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="feature">
            <figure class="feature-figure"><img class="feature-images" src="{% static 'images/component.png' %}" alt="" width="70" height="70"/>
            </figure>
            <h6 class="feature-title">Надійні комплектуючі</h6>
            <p class="feature-description">Досвід та перевірені постачальники дозволяють нам використовувати надійні та перевірені часом комплектуючі. При потребі можемо змінити комплектацію під Ваш запит.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg parallax-container context-dark" id="datasheet" data-parallax-img="{% static 'images/home-bg-02.jpg' %}">
    <div class="parallax-content">
      <div class="owl-carousel big-carousel" data-items="1" data-autoplay="false" data-autoplay-speed="6000" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="true">
        <div class="big-carousel-item">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <h2>БПЛА Горинь 10</h2>
                <p>Потужний іноваційний дрон призначений для перенесення вантажу вагою до 3.2кг. Оснащений основним та дублюючим зв'язком для керування в різних діапазонах частот з технологією динамічної зміни каналу зв'язку для відео та керування.<br>Присвоєний номенклатурний номер НАТО.</p>
              </div>
            </div>
            <div class="row row-30 justify-content-center align-items-center">
              <div class="col-lg-6"><img class="big-carousel-image" src="{% static 'images/horyn10.png' %}" alt=""></div>
              <div class="col-lg-6">
                <ul class="list-product">
                  <li class="list-product-item">
                    <div class="list-product-title">Тривалість польоту</div>
                    <div class="list-product-description">18 хв (при навантаженні 2.5 кг)</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Тактичний радіус</div>
                    <div class="list-product-description">15 км</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Маса цільового навантаження</div>
                    <div class="list-product-description">до 3.2 кг</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Максимальна швидкість</div>
                    <div class="list-product-description">120 км/год</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Камера</div>
                    <div class="list-product-description">
                      <ul class="list-style">
                        <li>Аналог 1500TVL</li>
                        <li>Тепловізійна</li>
                      </ul>
                    </div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Акумулятор</div>
                    <div class="list-product-description">Li-Ion 6S3P 13500мАг 180А</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Ціна</div>
                    <div class="list-product-price">від 22 000 грн</div>
                  </li>
                </ul>
                <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#contacts"><span class="icon material-icons-chevron_right"></span>Замовити</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="big-carousel-item">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <h2>Дрон Горинь 10B</h2>
                <p>Потужний іноваційний дрон призначений для перенесення вантажу вагою до 3.2кг та оснащений системою скиду і поворотним механізмом камери. Наявний основний та дублюючий зв'язок для керування в різних діапазонах частот з технологією динамічної зміни каналу зв'язку для відео та керування.</p>
              </div>
            </div>
            <div class="row row-30 justify-content-center align-items-center">
              <div class="col-lg-6"><img class="big-carousel-image" src="{% static 'images/horyn10B.png' %}" alt=""></div>
              <div class="col-lg-6">
                <ul class="list-product">
                  <li class="list-product-item">
                    <div class="list-product-title">Тривалість польоту</div>
                    <div class="list-product-description">18 хв (при навантаженні 2.5 кг)</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Тактичний радіус</div>
                    <div class="list-product-description">15 км</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Маса цільового навантаження</div>
                    <div class="list-product-description">до 3.2 кг</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Максимальна швидкість</div>
                    <div class="list-product-description">120 км/год</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Камера</div>
                    <div class="list-product-description">
                      <ul class="list-style">
                        <li>Аналог 1500TVL</li>
                        <li>Тепловізійна</li>
                      </ul>
                    </div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Шифрування відео</div>
                    <div class="list-product-description">FPGA скремблер</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Акумулятор</div>
                    <div class="list-product-description">Li-Ion 6S3P 13500мАг 180А</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Ціна</div>
                    <div class="list-product-price">від 28 000 грн</div>
                  </li>
                </ul>
                <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#contacts"><span class="icon material-icons-chevron_right"></span>Замовити</a></div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="big-carousel-item">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <h2>Nox Magic 5 Elite</h2>
                <p>Our dream has always been to make a drone that exists where engineering, technology, and the needs of the aerial photographer converge. A drone that embodies all of our advanced, signature technologies, and can redefine what is possible for the world of aerial photography. In creating the Magic 5, we have made this dream come true.</p>
              </div>
            </div>
            <div class="row row-30 justify-content-center align-items-center">
              <div class="col-lg-6"><img class="big-carousel-image" src="{% static 'images/blur-drones-01-459x359.png' %}" alt=""></div>
              <div class="col-lg-6">
                <ul class="list-product">
                  <li class="list-product-item">
                    <div class="list-product-title">Max Speed</div>
                    <div class="list-product-description">6 m/s (S-mode)</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Weight</div>
                    <div class="list-product-description">298 g</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Battery</div>
                    <div class="list-product-description">5500 mAh LiPo 4S</div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Camera</div>
                    <div class="list-product-description">
                      <ul class="list-style">
                        <li>1” CMOS</li>
                        <li>Electronic Shutter</li>
                        <li>4K VIDEO</li>
                      </ul>
                    </div>
                  </li>
                  <li class="list-product-item">
                    <div class="list-product-title">Price</div>
                    <div class="list-product-price">$2100</div>
                  </li>
                </ul>
                <div class="group-md"><a class="button button-icon button-icon-right button-default-outline" href="#"><span class="icon material-icons-chevron_right"></span>Замовити</a><a class="button button-icon button-icon-right button-default-outline" href="#"><span class="icon material-icons-chevron_right"></span>Деталі</a></div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg text-center position-relative" id="accessories">
    <div class="image-mask-product d-none d-md-block"><img src="{% static 'images/home-05-1043x605.png' %}" alt="" width="1043" height="605"/>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2>Опції</h2>
          <p>Також ми пропонуємо Вам додаткові компоненти, які можуть знадобитись в процесі експлуатації наших дронів.</p>
        </div>
      </div>
      <div class="row row-50 offset-xl-top-77 justify-content-center">
        <div class="col-sm-6 col-md-3">
          <div class="product">
            <figure class="product-figure"><a href="#"><img class="product-image" src="{% static 'images/retrik.jpg' %}" alt="" width="180"/></a></figure>
            <h5 class="product-title"><a href="#">Ретранслятор Горинь DualBand</a></h5>
            <h5 class="product-price"><span>38 000 грн</span></h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="product">
            <figure class="product-figure"><a href=""><img class="product-image" src="{% static 'images/must.jpg' %}" alt="" width="180"/></a></figure>
            <h5 class="product-title"><a href="">Щогла телескопічна 7м</a></h5>
            <h5 class="product-price">
              <span>12 000 грн</span>
            </h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="product">
            <figure class="product-figure"><a href="#"><img class="product-image" src="{% static 'images/battery_mini.png' %}" alt="" width="459" height="359"/></a></figure>
            <h5 class="product-title"><a href="#">АКБ 6S3P 13500мАг 180А</a></h5>
            <h5 class="product-price">
              <del>4800 грн</del><span>4 500 грн</span></h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="product">
            <figure class="product-figure"><a href="#"><img class="product-image" src="{% static 'images/battery_mini.png' %}" alt="" width="459" height="359"/></a></figure>
            <h5 class="product-title"><a href="#">АКБ 6S2P 9000мАг 120А</a></h5>
            <h5 class="product-price">
              <del>3500 грн</del><span>3 300 грн</span></h5>
          </div>
        </div>
      </div>
      {% comment %} <div class="link-wrap"><a class="link" href="#">See more<span class="icon material-icons-chevron_right"></span></a></div> {% endcomment %}
    </div>
  </section>

  <section class="section section-lg bg-gray-50" id="gallery">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2>Галерея</h2>
          {% comment %} <p>If you are still in doubt whether you need to purchase a drone or not, here are some photos to help you make a decision. All of our drone photos are done in a safe manner that complies with all FAA commercial drone regulations.</p> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="owl-carousel big-carousel" data-items="1" data-autoplay="false" data-autoplay-speed="6000" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="true">
      <div class="big-carousel__item">
        <div class="container">
          <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-01.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-01-468x220.jpg' %}" alt="" width="468" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-02.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-02-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-03.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-03-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-04.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-04-468x220.jpg' %}" alt="" width="469" height="220"/></a></div>
          </div>
        </div>
      </div>
      <div class="big-carousel__item">
        <div class="container">
          <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-01.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-01-468x220.jpg' %}" alt="" width="468" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-02.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-02-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-03.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-03-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-04.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-04-468x220.jpg' %}" alt="" width="469" height="220"/></a></div>
          </div>
        </div>
      </div>
      <div class="big-carousel__item">
        <div class="container">
          <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-01.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-01-468x220.jpg' %}" alt="" width="468" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-02.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-02-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-7"><a class="thumbnail" href="{% static 'images/gallery-03.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-03-670x220.jpg' %}" alt="" width="670" height="220"/></a></div>
            <div class="col-md-5"><a class="thumbnail" href="{% static 'images/gallery-04.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-04-468x220.jpg' %}" alt="" width="469" height="220"/></a></div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="link-wrap"><a class="link" href="#">See more<span class="icon material-icons-chevron_right"></span></a></div> {% endcomment %}
  </section>

  {% comment %} <section class="section section-154 pb-0 text-center">
    <div class="container">
      <div class="special-offer">
        <h2 class="special-offer-title">iStep Inspire 1 Pro</h2>
        <p class="special-offer-text">The Inspire 1 is leaving many other expensive drones way behind when it comes to flying capabilities, stabilization, creating professional aerial filming, and thermal imaging. Don’t miss your chance and purchase it today at a very attractive price!</p><span class="special-offer-percent">30% Off</span><span class="special-offer-short-description">Only available for a limited time</span><a class="button button-icon button-icon-right button-default-outline" href="#"><span class="icon material-icons-chevron_right"></span>Замовити</a>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="section section-146" id="contacts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Зв'язок з нами</h3>
          {% comment %} <p class="big">Щоб отримати додаткову інформацію, залиште повідомлення або відгук.</p> {% endcomment %}
          <form class="rd-form rd-mailform rd-mailform-contact" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
            <div class="row row-30">
              <div class="col-md-6">
                <div class="form-wrap">
                  <input class="form-input" id="form-user-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="form-user-name">Ваше ім'я <span class="text-secondary-2">*</span></label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <input class="form-input" id="form-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="form-email">Ваш email <span class="text-secondary-2">*</span></label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-wrap">
                  <textarea class="form-input" id="form-message" name="message" data-constraints="@Required"></textarea>
                  <label class="form-label" for="form-message">Ваше повідомлення</label>
                </div>
              </div>
            </div>
            <button class="button button-icon button-icon-right button-primary-outline" type="submit"><span class="icon material-icons-chevron_right"></span>Надіслати</button>
          </form>
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
          <h3>Контакти</h3>
          {% comment %} <p class="big">We are always available for a call or visit. Use the details below to send us an e-mail, give us a call, or visit us at the Drone office.</p> {% endcomment %}
          <ul class="list-xl list-contacts">
            {% comment %} <li class="unit unit-spacing-md flex-column flex-sm-row">
              <div class="unit-left icon icon-contacts material-icons-location_on"></div>
              <div class="unit-body">
                <h5 class="contacts-title">Address</h5>
                <div class="contacts-link"><a href="#">3508 Franklee Lane <br> Philadelphia, PA 19108</a></div>
              </div>
            </li>
            <li class="unit unit-spacing-md flex-column flex-sm-row">
              <div class="unit-left icon icon-contacts material-icons-local_phone"></div>
              <div class="unit-body">
                <h5 class="contacts-title">Call Us</h5>
                <ul class="list-xs">
                  <li class="contacts-link"><a href="tel:#">+(01) 484 559 9532</a></li>
                  <li class="contacts-link"><a href="tel:#">+(01) 578 634 4568</a></li>
                </ul>
              </div>
            </li> {% endcomment %}
            <li class="unit unit-spacing-md flex-column flex-sm-row">
              <div class="unit-left icon icon-contacts material-icons-send"></div>
              <div class="unit-body">
                <h5 class="contacts-title">E-mail</h5>
                <div class="contacts-link"><a href="mailto:#">info@dtech.co.ua</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}