{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="section section-154 pb-0 text-center">
    <div class="container">
      <div class="special-offer">
        <h2 class="special-offer-title">Дякуємо за звернення!</h2>
        <p class="special-offer-text">Ми цінуємо ваш час і відповімо на ваше звернення  кнайшвидше.</p><a class="button button-icon button-icon-right button-default-outline" href="{% url 'main' %}"><span class="icon material-icons-chevron_right"></span>На головну</a>
      </div>
    </div>
  </section>


{% endblock content %}
